<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn">
  <Appenders>
    <Routing name="RoutingAppender">
      <Routes pattern="$${ctx:threadName}">
        <Route>
          <File               name="appender-${ctx:threadName}"
                              fileName="target/logs/suite/${ctx:threadName}.log"
                              append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
          </File>
        </Route>
      </Routes>
    </Routing>
    <!-- Console appender configuration -->
    <Console name="console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n" />
    </Console>
  </Appenders>
  <Loggers>
    <!-- Root logger referring to console appender -->
    <Root level="info" additivity="false">
      <AppenderRef ref="console" />
      <AppenderRef ref="RoutingAppender" />
    </Root>
  </Loggers>
</Configuration>